
# TRIAL/IDEA for a universal cfg file 

# idea: programName var should be used to help get the file name 


# not related to freetube specific file ... below is just an idea 
function freetube_check_update() {
    program_name="freetube"

    program_version_filter="foobar"

    get_local_appimage_info
}

function bitwarden_check_update() {

    program_name="Bitwarden"
    
    # filler for now
    program_version_filter="foobar"

    get_local_appimage_info

}