
# TRIAL/IDEA for a universal cfg file 

# idea: programName var should be used to help get the file name 

# I DONT like hardcoding this but this all is a proof of concept in a way .. I am open to refactoring 


# not related to freetube specific file ... below is just an idea 
function freetube_check_update() {
    program_name="freetube"
    repo_name="FreeTubeApp/FreeTube"
    program_download=$(curl -s "https://freetubeapp.io/" | awk -F "\"" '/amd64.AppImage/ { print $2 }')

    # latest_remote_version=$(curl -s "https://freetubeapp.io/" | awk '/Release/ { print $9; exit }')

    get_local_appimage_info
    get_git_release_page
    get_remote_appimage_link
}

# function bitwarden_check_update() {
#     program_name="Bitwarden"
#     repo_name="bitwarden/clients"

    # wget "https://vault.bitwarden.com/download/?app=desktop&platform=linux" -O BitWarden.AppImage

   # latest_remote_version=$(curl -s "https://github.com/bitwarden/clients/releases" | awk '/Desktop/ { print; exit}' | sed 's/^.*Desktop //' | sed 's/<.*$//')

#     get_local_appimage_info
#     get_git_release_page
#     get_remote_appimage_link
# }

function ungoogle_chromium_update() {
    program_name="ungoogled-chromium"
    repo_name="ungoogled-software/ungoogled-chromium"

    get_local_appimage_info
    get_git_release_page
    get_remote_appimage_link

}

function update_all_appimages() {
    freetube_check_update
    ungoogle_chromium_update
}