# 1 - Mount appimage content 
#     - example: ./balenaEtcher-1.18.11-x64.AppImage --appimage-mount
#                   - the mount commands mounts AND sends the path info to stdout 

# 2 - (not sure this is the best option) look for the .Desktop file
# 3 - get X-AppImage-Version version (format is "X-AppImage-Version=1.5.0")



# idea get local name of appimage file (basename likely to be used)
function get_appimage_name() {
    
    local_appimage_location=/home/$USER/Applications

    echo -e "Finding ${program_name}'s local AppImage"
    # ? can the find command take an argument?
    local_appimage_path=$(find "${local_appimage_location}" -type f -iname "${program_name}*" )
    local_appimage_name=$(basename ${local_appimage_path})

    # echo -e "local_appimage_path: ${local_appimage_path}"
    # echo -e "local_appimage_name: ${local_appimage_name}\v"
}

#- search in that location for the .Desktop file
function get_local_appimage_version() {
    # mounted location needed from "mount_local_appimage" function

    #local_appimage_version=$(echo -e "${local_appimage_name}" | sed "s/$program_name//I;s/[a-zA-Z0-9]+64.*AppImage//g" )
    local_appimage_version=$(echo -e "${local_appimage_name}" | sed "s/[_a-zA-Z0-9]64.*AppImage//g;s/$program_name[-_]//;s/[-_].*$//" )


    echo -e "local_appimage_version: ${local_appimage_version}\v"
}

# mount local appimage
# 1 - get /tmp/whatever location
# 2 - mount that location

function create_root_home_tmp_location() {
    # the "root" temp folder to store stuff 
    user_tmp_folder="/home/$USER/tmp"
    [ ! -d "$user_tmp_folder" ] && echo -e "Creating tmp folder in ${user_tmp_folder}" && mkdir ${user_tmp_folder}
}

function create_individual_appimage_tmp_location() {
    #for each app
    appimage_mount_folder=${user_tmp_folder}/${appimage_name}
    [ ! -d "$appimage_mount_folder" ] && echo -e "Creating tmp folder for ${appimage_name} in ${user_tmp_folder}" && mkdir ${appimage_mount_folder}
}

function find_appimage_internal_desktop_file() {
 #code for inside the mounted location 
    single_app_image_mounted_desktop_file=$(find . -type f -iname "*.desktop")


    # look for X-AppImage-Version= in $
    version_test=$(grep "X-AppImage-Version=" "${appimage_mount_folder}/${appimage_name}.desktop" )

    echo -e "version_test: ${version_test}"

}

function get_current_local_appimage_version() {
    current_appimage_desktop_file=$(find squashfs-root -type f -iname "*.Desktop")
    echo -e "\v current_appimage_desktop_file: ${current_appimage_desktop_file}"

    clear
    echo -e "Current version for local ${appimage_name} AppImage:"
    awk -F= '{IGNORECASE=1} /version/ { print $2 }' ${current_appimage_desktop_file}
}

function remove_extracted_appimage_dir() {
    echo -e "Removing exacted appimage dir for ${appimage_name}"
    rm -rf squashfs-root
}

# just to mount the location 
function mount_local_appimage() {

    create_root_home_tmp_location
    create_individual_appimage_tmp_location

    # this IS a full local path 
    #echo -e "\vsingle_appimage:\t${single_appimage}"

    mount_current_appimage=$(echo -e "${single_appimage} --appimage-extract" )

    current_appimage_mounted_dir=$(${mount_current_appimage} 2>&1 )
    #echo -e "current_appimage_mounted_dir: ${current_appimage_mounted_dir}"

    get_current_local_appimage_version

    remove_extracted_appimage_dir


}

function get_local_appimage_info() {
    get_appimage_name

    get_local_appimage_version
}

#####################################################

function assign_appimage_vars() {
    # this SHOULD be just the base filename (including .AppImage)
    single_appimage_name=$(basename ${single_appimage})
    #echo -e "\nsingle_appimage_name: $single_appimage_name"


    # this way MAY NOT work for all cases
    # s/[-_]v[0-9]//; 
        # - or I followed by a number, remove that 
    # s/[-_][0-9].*$//
        # (? redundant) - if there is no "v" before the version number 
    appimage_name=$(echo "${single_appimage_name}" | sed "s/[-_]v[0-9].*$//;s/[-_][0-9].*$//" )
    echo -e "appimage_name: ${appimage_name}"
}


function loop_through_appimages() {
    get_appimage_name

    # single_appimage is the full path to the local app image during that loop
    for single_appimage in ${local_appimage_location}/*.*
    do
        assign_appimage_vars

        sleep 1

        #echo -e "\vProcessing ${appimage_basename} ..."

        mount_local_appimage

    done

}